<!DOCTYPE html>
<html>
<head>
  
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'users', media: 'all', data: { turbolinks: false } %> 
  
</head>
<body>
  <div class="container d-flex justify-content-center align-items-center ">    
    <div class="cart-container">
      <%= image_tag ("avivas_logo_white.png")%>
      <%= link_to(image_tag("black_friday.png"),productos_path)%>
      
    </>
    </div>
  </body>
</html>
