<%= stylesheet_link_tag 'producto', media: 'all', data: { turbolinks: false } %> 
<div class="mx-auto md:w-2/3 w-full">

  <div class="flex justify-between items-center">
  <h1 class="font-bold text-4xl">Nueva Venta</h1>
  
  <%= link_to "Volver a listado de ventas", purchases_path,  class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>

</div>
  <%= render "form", purchase: @purchase %>

  
</div>
