<%= stylesheet_link_tag 'edit_user', media: 'all', data: { turbolinks: false } %> 
<div class="edit-container"">
  <h1>Bienvenido a la vista de Roles</h1>
  <%= link_to "Crear Roles" ,class:"p-2 btn-success" %>
  <%= link_to "Editar Roles",class:"p-2 btn-warning" %>
  <%= link_to "Eliminar Roles",class:"p-2 btn-danger"
  %>
</div>
