.products{
    display: flex   ;
    flex-direction: row;
    
    width: auto;
    object-fit: cover;
}

.products-items{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.product-show-btn{
    display: flex;
    flex-direction: row-reverse;
}
.edit-product{
    display: flex;
    flex-direction: column;
}
.edit-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}