.products{
    display: flex   ;
    flex-direction: row;
    
    width: auto;
    object-fit: cover;
}

.products-items{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.ver-producto{
    display: flex;
    flex-direction: row-reverse;
}